<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/getAllPostsOrderByDate" class="navbar-brand">bangelevenn</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/" class="nav-link" routerLink="getAllPostsOrderByDate">all posts </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>


      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/" class="nav-link" routerLink="getAllPrivatePosts">my posts</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/" class="nav-link" routerLink="createPost">create post</a>
      </li>






      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li>
      <form (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" required [(ngModel)]="title" name="title" placeholder="enter title" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search posts</button>
      </form>
    </li>
    </ul>



    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="search" *ngFor="let post of posts">
    <h1 id="title"> {{post.id}} - {{post.title}} </h1>
    <h2 id="content"> {{post.content}} </h2>
    <p> by {{post.user.username}} </p>
    <h4> time {{post.date}} </h4>

    <br>
    <br>
    <hr>
    <br>

  </div>


  <div class="container">
    <router-outlet></router-outlet>
  </div>

<!--  <div>-->
<!--    <ul>-->
<!--    <li *ngFor="let post of posts">-->
<!--      <h4>{{post.id}} - {{post.title}} - {{post.content}}</h4>-->
<!--    </li>-->
<!--  </ul>-->
<!--  </div>-->










</div>
